<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<button id="rzp-button1">Pay with Razorpay</button>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script th:inline="javascript">
		var options = {
			"key" : [[${key}]],
			"amount" : "[[${amount}]]",
			"currency" : "INR",
			"name" : "FLipZon",
			"description" : "Payment for things bought",
			"image" : "https://example.com/your_logo",
			"order_id" : [[${orderId}]],
			"callback_url" : [[${url}]],
			"prefill" : {
				"name" : [[${customer.name}]],
				"email" : [[${customer.email}]],
				"contact" : "[[${customer.mobile}]]"
			},
			"notes" : {
				"address" : "Razorpay Corporate Office"
			},
			"theme" : {
				"color" : "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		document.getElementById('rzp-button1').onclick = function(e) {
			rzp1.open();
			e.preventDefault();
		}
	</script>
</body>
</html>